<section data-ng-controller="AboutController" class="about">
	
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui inverted header">
        About
      </h1>
      <h2> Built on the foundation of self, family and community.</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>

  </div>
	


<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">

      <div class="row">
        <div class="eight wide column">
          <h3 id="outliersbjj" class="ui header">Outliers Jiu Jitsu</h3>
          <p>Outliers Jiu Jitsu is an official school of the Ribeiro Jiu-Jitsu Association serving Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community. The belief is that, if you take care of your self, you can raise a family, and with a family you can build a community. The aim of Outliers Jiu-Jitsu is to provide a learning environment that offers growth in all aspects of mind, body, and spirit.</p>
			
			<h4 class="ui horizontal header divider">We are an official school of the Ribeiro Jiu-Jitsu Association</h4>
			
          <h3 id="ribeirobjj" class="ui header">Ribeiro Jiu Jitsu History</h3>
          <p>The Ribeiro Brothers Jiu-Jitsu organization is one of the most respected and accomplished Jiu-Jitsu associations in the world. Saulo and Alexandre (Xande) Ribeiro have direct training lineage to the Gracie family, inventors of modern Brazilian Jiu-Jitsu. Saulo & Xande actively compete and coach top competitors in tournaments all around the world. Saulo and Xande are dedicated professors who have maintained personal and professional relationships with our instructors for many years. This means that in our academy, our students will learn the basic methods of the original masters as well as the freshest and most up to date Brazilian jiu-jitsu techniques.</p>
        </div>
        <div class="six wide right floated column">
          <img src="modules/core/img/objj-logo-vert.svg" class="ui large image">
			<div class="ui vertical segment container grid">
				<div class="eight wide column">
					<img src="modules/core/img/img-rebeiro-badge.png" alt="" class="ui large image">
				</div>
				<div class="eight wide column">
					<img src="modules/core/img/img-outliers-badge.png" alt="" class="ui large image">
				</div>	
			</div>
        </div>
      </div>
	  <div class="ui divider"></div>
      <div class="row">
        <div class="container">
          <h3 id="aboutbjj" class="ui header">About Brazilian Jiu Jitsu</h3>
          <p>Outliers Jiu Jitsu is an official school of the Ribeiro Jiu-Jitsu Association serving Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community. The belief is that, if you take care of your self, you can raise a family, and with a family you can build a community. The aim of Outliers Jiu-Jitsu is to provide a learning environment that offers growth in all aspects of mind, body, and spirit.</p>
        </div>		  
      </div>
    </div>
  </div>		
	<br>
</section>