<section data-ng-controller="ClassesController" class="classes">
	
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui inverted header">
       Classes
      </h1>
      <h2> Built on the foundation of self, family and community.</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>

  </div>
	
	

  <div class="row">

	<div class="ui vertical stripe segment container">

	<div class="ui inverted segment">
	  <button class="ui inverted teal button" href="/#!/schedules">Class Schedules</button>
	  <button class="ui inverted yellow button" href="technical-class">Technical Class</button>
	  <button class="ui inverted yellow button" href="technical-class">Kid's Class</button>
	  <button class="ui inverted yellow button">Womens Schedules</button>
	  <button class="ui inverted yellow button">Open Mat</button>
	</div>
		
	<div class="clearfix">
        <img class="ui medium rounded right floated image" src="modules/core/img/img-class4.jpg">
		<h3 id="technical-class" class="ui header">Adult Technical Classes.</h3>
		<p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
	</div>
		
	  <div class="ui divider"></div>
        
        
	<div class="clearfix">
        <img class="ui medium rounded right floated image" src="modules/core/img/img-class3.jpg">
	  <h3 id="kids-class" class="ui header">Kid's Classes.</h3>
	  <p>The kids class is the future at Outliers Jiu-Jitsu. The class is taught by a qualified Ribeiro Jiu-Jitsu instructor, in a child friendly manner. In addition to teaching the children the fundamental technique, the kids class incorporates strength and conditioning to help keep your child strong and healthy. The kids class is not just a bunch of boring instruction and drills, functional games are incorporated into the curriculum for fun and inspiration. At Outliers Jiu-Jitsu, our goal is not only to teach the Jiu-Jitsu technique in a safe and fun manner, but the kids class tries to lift-up the emotional and mental character of the children so they are successful not only on the Jiu-Jitsu mat but in all aspects of life.</p>	
	</div>
		
	  <div class="ui divider"></div>
        
	<div class="clearfix">
        <img class="ui medium right rounded floated image" src="modules/core/img/img-class6.jpg">
	  <h3 id="womens-class" class="ui header">Women's Classes.</h3>
	  <p>The kids class is the future at Outliers Jiu-Jitsu. The class is taught by a qualified Ribeiro Jiu-Jitsu instructor, in a child friendly manner. In addition to teaching the children the fundamental technique, the kids class incorporates strength and conditioning to help keep your child strong and healthy. The kids class is not just a bunch of boring instruction and drills, functional games are incorporated into the curriculum for fun and inspiration. At Outliers Jiu-Jitsu, our goal is not only to teach the Jiu-Jitsu technique in a safe and fun manner, but the kids class tries to lift-up the emotional and mental character of the children so they are successful not only on the Jiu-Jitsu mat but in all aspects of life.</p>	
	</div>
		
	  <div class="ui divider"></div>
        
	<div class="clearfix">
        <img class="ui medium right rounded floated image" src="modules/core/img/img-class7.jpg">
		
	  <h3 id="open-mat-class" class="ui header">Open Mat.</h3>
	  <p>The kids class is the future at Outliers Jiu-Jitsu. The class is taught by a qualified Ribeiro Jiu-Jitsu instructor, in a child friendly manner. In addition to teaching the children the fundamental technique, the kids class incorporates strength and conditioning to help keep your child strong and healthy. The kids class is not just a bunch of boring instruction and drills, functional games are incorporated into the curriculum for fun and inspiration. At Outliers Jiu-Jitsu, our goal is not only to teach the Jiu-Jitsu technique in a safe and fun manner, but the kids class tries to lift-up the emotional and mental character of the children so they are successful not only on the Jiu-Jitsu mat but in all aspects of life.</p>	
	</div>


	</div>		  
  </div>	

	<br>
	
</section>