<section class="footer">

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="/#!/about" class="item">About Us</a>              
            <a href="/#!/about/#rebiero" class="item">Rebiero Jiu Jitsu</a>
            <a href="/#!/sitemap" class="item">Sitemap</a>
            <a href="/#!/about/#history" class="item">History of Jiu Jitsu</a>       
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="/#!/classes/#summer-camps" class="item" >Summer Camps</a>              
            <a href="/#!/classes" class="item">Classes</a>
            <a href="/#!/schedule" class="item" >Schedules</a>
            <a href="/#!/instructors" class="item" >Instructors</a>
              
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Contact Us</h4>
            <p>&copy; 2011 Ribeiro Jiu Jitsu Santee - Outliers</p> 
            <p>Jeremy@OutliersBJJ.com - (619) 708-8699</p> 
            <p>10251 Mast Blvd. Suite N. Santee, CA 92071.</p>
        </div>
      </div>
    </div>
  </div>
</section>