
<div data-ng-controller="HeaderController">
	
	<!-- Following Menu -->
	<div class="ui fixed inverted menu">
	  <div class="ui container">
		<a class="item logo clearfix" href="/#!/">
			<img class="logo" src="modules/core/img/objj-icon-new.svg">
			<div class="logo-text-large"> Outliers <span>&reg;</span></div>
			<p class="under-text">Brazilian Jiu Jitsu</p>
		</a>

		<a class="item" href="/#!/">Home</a>
		<a class="item" href="/#!/classes">Classes</a>
		<a class="item" href="/#!/instructors">Instructors</a>
		<a class="item" href="/#!/about">About Us</a>          
		<a class="item contact-form" href="/#!/">Contact Us</a>          
		<a class="item" href="/#!/waiver">Waiver</a> 
		  
		  <div class="ui simple dropdown item mobile-on">
			  Dropdown <i class="dropdown icon"></i>
			<div class="menu">
			  <a class="item" href="#">Link Item</a>
			  <a class="item" href="#">Link Item</a>
			  <div class="divider"></div>
			  <div class="header">Header Item</div>
			  <div class="item">
				<i class="dropdown icon"></i>
				Sub Menu
				<div class="menu">
				  <a class="item" href="#">Link Item</a>
				  <a class="item" href="#">Link Item</a>
				</div>
			  </div>
			  <a class="item" href="#">Link Item</a>
			</div>
		  </div>
		  <!--
		<div class="right menu">
		  <div class="item">
			<a ui-route="/signin" ng-class="{active: $uiRoute}" href="/#!/signin">Sign In</a>
		  </div>
		  <div class="item">
			<a ui-route="/signup" ng-class="{active: $uiRoute}" href="/#!/signup">Sign Up</a>
		  </div>
		</div>
-->

	  </div>
	</div>
<!--
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand">objj</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li >
				
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	-->

	
  <div class="main ui inverted vertical masthead center aligned segment">

  <script type="text/javascript">
    $(document).ready(function(){
      $('.slick').slick({
          centerMode: true,
          centerPadding: '60px',
          dots: false,
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 3,
          autoplay: true,
          autoplaySpeed: 2000,          
          speed: 500,
          nextArrow: '<div class="arrow right"><i class="chevron right icon"></i></div>',
          prevArrow: '<div class="arrow left"><i class="chevron left icon"></i></div>'
        });
	$("a.outliers-photos").fancybox({
		'transitionIn'	:	'elastic',
		'transitionOut'	:	'elastic',
		'speedIn'		:	600, 
		'speedOut'		:	200, 
		'overlayShow'	:	false
	}); 
        $('.contact-form').on('click', function(){
           $('.ui.modal').modal('show');  
        });
               
    });	
  </script>
        <!-- Fancybox and Slick Slider -->
        <div class="ui photo row logo-head">
          <div class=" clearfix slick container" style="width: 100%; margin: 55px auto 0 auto;">
              <div>
              <a class="outliers-photos" href="modules/core/img/slider1.jpg">
                  <img src="modules/core/img/slider1.jpg" class="ui bordered big image">
              </a>
                  </div>
              <a class="outliers-photos" href="modules/core/img/slider2.jpg">
                  <img src="modules/core/img/slider2.jpg" class="ui bordered big image">
              </a>                   
              <a class="outliers-photos" href="modules/core/img/slider3.jpg">
                  <img src="modules/core/img/slider3.jpg" class="ui bordered big image">
              </a>                   
              <a class="outliers-photos" href="modules/core/img/slider4.jpg">
                  <img src="modules/core/img/slider4.jpg" class="ui bordered big image">
              </a>                   
              <a class="outliers-photos" href="modules/core/img/slider5.jpg">
                  <img src="modules/core/img/slider5.jpg" class="ui bordered big image">
              </a>                   
              <a class="outliers-photos" href="modules/core/img/slider6.jpg">
                  <img src="modules/core/img/slider6.jpg" class="ui bordered big image">
              </a>                   
              <a class="outliers-photos" href="modules/core/img/slider7.jpg">
                  <img src="modules/core/img/slider7.jpg" class="ui bordered big image">
              </a>                   
              <a class="outliers-photos" href="modules/core/img/slider8.jpg">
                  <img src="modules/core/img/slider8.jpg" class="ui big bordered image">
              </a>                   
              <a class="outliers-photos" href="modules/core/img/slider9.jpg">
                  <img src="modules/core/img/slider9.jpg" class="ui bordered big image">
              </a>                   
              <a class="outliers-photos" href="modules/core/img/slider10.jpg">
                  <img src="modules/core/img/slider10.jpg" class="ui bordered big image">
              </a>                   

          </div>     
            <!--<img class="secondary" src="modules/core/img/objj-logo-vert-light.svg">  -->
          <div class="secondary-logo">

            <h2> Built on the foundation of <span class="yellow">self</span>, <span class="yellow">family</span> and <span class="yellow">community</span>.                 
             <span>&nbsp;&nbsp;<a href="/#!/" class="ui huge green button contact-form">Try For Free<i class="right arrow icon"></i></a></span>                 
              </h2>
   
          </div>
        </div>

    </div>
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="/images/avatar/large/chris.jpg">
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
</div>    

