<section data-ng-controller="HomeController" class="home">
	
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container photo">
      <h1 class="ui inverted header">
        Outliers BJJ
      </h1>
      <h2> Built on the foundation of self, family and community.</h2>
      <a href="/#!/contact" class="ui huge primary button">Try For Free<i class="right arrow icon"></i></a>
    </div>

  </div>
	

	
    <div class="ui vertical segment container">
      <div class="aligned row">

        <div class="six wide column">
			<div class="ui segment">
			  <div class="ui form">
				<div class="two fields">
				  <div class="field">
					<label>First Name</label>
					<input placeholder="First Name" type="text">
				  </div>
				  <div class="field">
					<label>Last Name</label>
					<input placeholder="Last Name" type="text">
				  </div>					
				</div>

				  <div class="field">
					<label>Email</label>
					<input placeholder="Email" type="text">
				  </div>				  				  
				  
				  <div class="field">
					<label>Phone Number</label>
					<div class="field">
					  <input type="text" placeholder="xxxx">
					</div>
				  </div>				  
				<div class="ui submit button">Submit</div>
			  </div>
			</div>
        </div>
      </div>
    </div>

	
	
  <div class="ui vertical stripe segment">
    <div class="ui text container">
	  <h3 class="ui header"> Adults, Women's and Kids Technical Classes.</h3>
	  <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
	  <a class="ui large button">Read More</a>
	  <h4 class="ui horizontal header divider">
		<a href="/#!/classes">Learn More About Jui Jitsu</a>
	  </h4>
      <h3 class="ui header">Outliers Jiu Jitsu is an official school of the Ribeiro Jiu-Jitsu Association</h3>
      <p>We serve Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community. The belief is that, if you take care of your self, you can raise a family, and with a family you can build a community. The aim of Outliers Jiu-Jitsu is to provide a learning environment that offers growth in all aspects of mind, body, and spirit.</p>
      <a class="ui large button" href="/#!/about/jui-jitsu">I'm Still Quite Interested</a>
    </div>
  </div>
	
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"What a Company"</h3>
          <p>That is what they all say about us</p>
        </div>
        <div class="column">
          <h3>"I shouldn't have gone with their competitor."</h3>
          <p>
            <img src="http://semantic-ui.com/examples/assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
          </p>
        </div>
      </div>
    </div>
  </div>
	
	<div class="ui vertical segment container grid">
		<div class="four wide column">
			<img src="modules/core/img/img-carousel1.jpg" alt=" "/>
		</div>
		<div class="four wide column">
			<img src="modules/core/img/img-carousel2.jpg" alt=" "/>
		</div>
		<div class="four wide column">
			<img src="modules/core/img/img-carousel3.jpg" alt=" "/>
		</div>
		<div class="four wide column">
			<img src="modules/core/img/img-carousel1.jpg" alt=" "/>
		</div>		
		
	</div>
	
	
</section>