<div data-ng-controller="HomeController" class="home">

<div class="ui vertical stripe quote container">
    <div class="ui equal width stackable internally grid">
      <div class="row">
            <div class="column">
              <h3 class="ui header">We are an official school of the Ribeiro Jiu-Jitsu Association</h3>
              <p>We serve Santee, CA and the entire East County of San Diego. Outliers BJJ is built on the foundation of self, family and community. The belief is that, if you take care of your self, you can raise a family, and with a family you can build a community. The aim of Outliers Jiu-Jitsu is to provide a learning environment that offers growth in all aspects of mind, body, and spirit.</p>
              <a class="ui large green button" href="/#!/about#outliersbjj">Learn More about Outliers Jiu-Jitsu</a>    
            </div>
            <div class="ui center aligned column">
                <h3><i class="phone square icon"></i> Call Now! <a href="tel:1-408-555-5555">1-408-555-5555</a></h3>            
                 <iframe class="google-frame"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=10251+Mast+Blvd+Santee,+Ca&amp;aq=&amp;sll=37.230328,-95.712891&amp;sspn=62.606855,114.521484&amp;ie=UTF8&amp;hq=&amp;hnear=10251+Mast+Blvd,+Santee,+California+92071&amp;ll=32.858032,-116.97813&amp;spn=0.01442,0.025749&amp;z=14&amp;output=embed"></iframe>

            </div>    
        </div>
    </div>
</div>

<div class="row">

    <div class="ui stripe vertical container segment">    
        <div class="clearfix ui raised very padded grid segment">   
            <div class="four wide column">
                <img class="ui medium rounded image" src="modules/core/img/img-carousel1.jpg">
            </div>              
            <div class="twelve wide column">
                <h3 id="technical-class" class="ui header">Kid's Summer Camps.</h3>
                <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
                 <a class="ui large green button" href="/#!/about#outliersbjj">Learn More about Summer Camps</a>
            </div>
               
        </div>
    <br>
        
            <div class="clearfix ui raised very padded grid segment">    
            <div>
                <img class="ui medium rounded floated left image" src="modules/core/img/img-carousel1.jpg">

                <h3 id="technical-class" class="ui header">Kid's Summer Camps.</h3>
                <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
                 <a class="ui large green button" href="/#!/about#outliersbjj">Learn More about Summer Camps</a>
            </div>
               
        </div>        
    </div>
</div>
<div class="ui vertical stripe quote segment">  
    <div class="ui equal width stackable internally celled grid">
            <div class="ui divider"></div>         
      <div class="center aligned row offset">
        <div class="column">
          <h3>"What a Company"</h3>
          <p>That is what they all say about us</p>
        </div>
        <div class="column">
          <h3>"More than just a Jiu Jitsu class. We are a family!"</h3>
          <p>
            <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
          </p>
        </div>
      </div>
    </div>
  </div>
	
</div>