<section data-ng-controller="ScheduleController" class="schedule">
	
  <div class="ui inverted vertical masthead center aligned segment">
  <!--
    <div class="ui container hidden">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <div class="right item">
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>
-->
    <div class="ui text container">
      <h1 class="ui inverted header">
        Schedule
      </h1>
      <h2> Built on the foundation of self, family and community.</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui container">
        <h1>Adult Technical Class</h1>
        <table class="ui inverted red table">
          <tbody>
            <tr>
              <td><b>Monday</b> <i>7 am - 8 am</i></td>
              <td><b>Wednesday</b> <i>7 am - 8 am</i></td>
              <td><b>Friday</b> <i>7 am - 8 am</i></td>
            </tr>
            <tr>
              <td><b>Monday</b> <i>6 pm - 7:30 pm</i></td>
              <td><b>Tuesday</b> <i>6 pm - 7:30 pm</i></td>
              <td><b>Wednesday</b> <i>6 pm - 7:30 pm</i></td> 
              <td><b>Thursday</b> <i>6 pm - 7:30 pm</i></td>                 
            </tr>           
          </tbody>
        </table>
        
        <h1>Kids Classes</h1>        
        <table class="ui inverted green table">
            <tbody>
            <tr>
              <td><b>Tuesday</b> <i>4 pm - 5 pm</i></td>
              <td><b>Thursday</b> <i>4 pm - 5 pm</i></td>
              <td><b>Saturday</b> <i>10 am - 11 am</i></td>                
            </tr>
            <tr>
              <td><b>Monday</b> <i>5 pm - 6 pm</i></td>
              <td><b>Tuesday</b> <i>5 pm - 6 pm</i></td>
              <td><b>Wednesday</b> <i>5 pm - 6 pm</i></td> 
              <td><b>Thursday</b> <i>5 pm - 6 pm</i></td>                 
            </tr>
          </tbody>
        </table>
        
        <h1>Kids MMA Classes</h1>        
        <table class="ui inverted blue table">
            <tbody>
            <tr>
              <td><b>Wednesday</b> <i>4 pm - 5 pm</i></td>
              <td><b>Friday</b> <i>5 pm - 6 pm</i></td>
            </tr>
          </tbody>
        </table>        
        
        <h1>Womens Classes</h1>        
        <table class="ui inverted purple table">
            <tbody>
            <tr>
              <td><b>Saturday</b> <i>8:30 am - 10 am</i></td>
            </tr>
          </tbody>
        </table>           
        
        <h1>Open Mat</h1>        
        <table class="ui inverted brown table">
            <tbody>
            <tr>
              <td><b>Saturday</b> <i>11 am - 12 pm</i></td>
            </tr>
            <tr>
              <td><b>Saturday</b> <i>6 pm - 7 pm</i></td>
              <td><b>Sunday</b> <i>6 pm - 7:30 pm</i></td>                
            </tr>                
          </tbody>
        </table>             
    </div>
  </div>
</section>